body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--very-dark-desaturated-blue--light);
}

main {
    position: relative;
    width: 32rem;
}

/* ---------------------- HEADER ------------------------ */
.header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--input-color);
}

.header h1 {
    margin-bottom: 3rem;
}

.header--toggle-container {
    display: flex;
    align-items: end;
    margin-bottom: 2rem;
}

.header--toggle-container span {
    margin-right: 2.5rem;
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
}

.header--toggle-container__picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header--toggle-container ul {
    width: 7rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    font-weight: bold;
}

.header--toggle-container__toggle {
    position: relative;
    width: 7.5rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 1.25rem;
    background-color: var(--very-dark-desaturated-blue--dark);
}

.header--toggle-container__toggle__circle {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--red);
    transition: all 0.3s ease;
}

/* ---------------------- INPUT ------------------------ */
.input {
    width: 100%;
    height: 6.5rem;
    padding: 0 2rem;
    text-align: right;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    border-radius: 0.7rem;
    background-color: var(--very-dark-desaturated-blue--dark);
    color: var(--input-color);
    caret-color: transparent;
}
.input:focus-visible {
    outline: none;
}

.invalid-alert {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    color: var(--red);
}
.invalid-alert p {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.hidden {
    display: none;
}
.outline-red {
    border: solid var(--red) 0.1rem;
}

/* ---------------------- KEYBOARD ------------------------ */
.keyboard {
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: repeat(4, 6.2rem);
    grid-template-rows: repeat(5, 6rem);
    gap: 1rem;
    background-color: var(--very-dark-desaturated-blue--medium);
}

button {
    height: 100%;
    background-color: var(--light-grayish-orange);
    border: none;
    border-radius: 0.4rem;
    border-bottom: solid var(--grayish-orange) 0.4rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--very-dark-grayish-blue);
}
button:active {
    border: none;
}
button:hover {
    cursor: pointer;
}

.keyboard--del {
    font-size: 2rem;
    background-color: var(--desaturated-dark-blue--light);
    border-bottom: solid var(--desaturated-dark-blue) 0.4rem;
    color: var(--white);
}
.keyboard--reset {
    font-size: 2rem;
    grid-column: 1/span 2;
    background-color: var(--desaturated-dark-blue--light);
    border-bottom: solid var(--desaturated-dark-blue) 0.4rem;    
    color: var(--white);
}
.keyboard--equals {
    font-size: 2rem;
    grid-column: 3/span 2;
    background-color: var(--red);
    border-bottom: solid var(--dark-red) 0.4rem;
    color: var(--white);
}
