:root {
    /* ------------------- BACKGROUNDS --------------------- */
    --very-dark-desaturated-blue--light: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue--medium: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue--dark: hsl(224, 36%, 15%);
    
    /* ------------------- KEYS --------------------- */
    --desaturated-dark-blue--light: hsl(225, 21%, 49%);
    --desaturated-dark-blue: hsl(224, 28%, 35%);
    
    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);
    
    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    
    /* ------------------- TEXT --------------------- */
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --input-color: hsl(0, 0%, 100%);
    --white: hsl(0, 0%, 100%);
}